.error
{
    color: red;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
    text-transform:capitalize;
}
/*.ui-field-contain>.ui-btn-inline
{
    width:32px !important;
}*/
.ui-field-contain>label>[class*=ui-btn-inline]
{
    position: absolute;
    top:-15%;
    right:78%;
}
.new_player_slider
{
    
}
/*.ui-field-contain>.ui-btn-inline~[class*=ui-]
{
    width:70%;
}*/
 
@media screen and (orientation: portrait) {
    label.error {
        margin-left: 0;
        display: block;
    }
}
 
@media screen and (orientation: landscape) {
    label.error
    {
        display: inline-block;
        margin-left: 22%;
    }
}

@media ( min-width: 40em ) {
    /* Show the table header rows and set all cells to display: table-cell */ 
    .my-custom-breakpoint td,
    .my-custom-breakpoint th,
    .my-custom-breakpoint tbody th,
    .my-custom-breakpoint tbody td,
    .my-custom-breakpoint thead td,
    .my-custom-breakpoint thead th {
        display: table-cell;
        margin: 0;
    }
    /* Hide the labels in each cell */ 
    .my-custom-breakpoint td .ui-table-cell-label,
    .my-custom-breakpoint th .ui-table-cell-label { 
        display: none;
    }
}